dev/joymeter-webapi/*.log
dev/joymeter-webapi/target
dev/joymeter-webapi/.classpath
dev/joymeter-webapi/.project
dev/joymeter-webapi/.settings
dev/joymeter-webapi/.metadata
dev/joymeter-core/*.log
dev/joymeter-core/target
dev/joymeter-core/.classpath
dev/joymeter-core/.project
dev/joymeter-core/.settings
dev/joymeter-core/.metadata